<h1>Task List</h1>

<%= link_to 'ADD', {}, :class => "btn btn-large", :onClick => "$('#lightbox').lightbox_me();return false;" %>

<%# lightbox表示用 %>
<div id="lightbox" class="login-form" style="display:none;">
  <%= form_for(@task) do |f| %>
    <h4>INPUT TASK!!</h4>
    <div class="field">
        <%= f.text_field :taskName, :replace_text => 'aaa'%>
    </div>
    <div>
      <%= f.submit 'CREATE NEW TASK', :class => 'btn btn-primary btn-large' %>
    </div>
  <% end %>
</div>

<hr />

<%# テーブル表示 %>
<div class="todo mrm">
  <div class="">
    <ul>
      <div class="todo-search">
        <h4 class="todo-name">
          TASK LIST
        </h4>
        <%#
          <input class="todo-search-field" type="search" value placeholder="Search" />
        %>
      </div>
      <% @tasks.each do |task| %>
        <li>
          <div class="todo-content">
            <span class="todo-name" style="margin-right:10px" >
              <%= @number += 1%>
            </span>

            <input type="text" class="span3" style="margin-top:0px; margin-bottom:0px;" value="<%= task.taskName %>" />
            <%= link_to 'Show', task , {:class => "btn btn-large btn-info" } %>
            <%= link_to 'Edit', edit_task_path(task), {:class => "btn btn-large btn-info" } %>
            <%= link_to 'Destroy', task, {:method => :delete,  :confirm => 'Are you sure?', :class => "btn btn-large btn-danger"} %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <%#
    <p align="center" data-toggle="tooltip" title="" data-original-title="Here is the sample of talltooltip that contains three lines or more. More."></p>
  %>
</div>

<%# lightbox表示用 %>
<%#
<div id="lightbox" class="login-screen" style="display:none;">
  <div id="lightbox" class="login-form" style="display:none;">
    <input placeholder="TASK NAME">
  </div>
</div>
%>

<br />

