<h1>Listing tasks</h1>

<%= link_to 'New Task', new_task_path, :class => "btn btn-large" %>
<%= link_to 'Update', new_task_path, :class => "btn btn-large" %>
<%= link_to 'ADD', '/tasks/add', :class => "btn btn-large" %>

<hr />

<div class="todo mrm">
  <div class="">
    <ul>
      <div class="todo-search">
        <h4 class="todo-name">
          TASK LIST
        </h4>
        <%#
          <input class="todo-search-field" type="search" value placeholder="Search" />
        %>
      </div>
      <% @tasks.each do |task| %>
        <li>
          <div class="todo-content">
            <span class="todo-name" style="margin-right:10px" >
              <%= @number += 1%>
            </span>
            <input type="text" class="span3" style="margin-top:0px; margin-bottom:0px;" value="<%= task.taskName %>" />
            <%= link_to 'Show', task , {:class => "btn btn-large btn-info" } %>
            <%= link_to 'Edit', edit_task_path(task), {:class => "btn btn-large btn-info" } %>
            <%= link_to 'Destroy', task, :class => "btn btn-large btn-danger", :method => :delete, :data => { :confirm => 'Are you sure?'} %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<br />

